{% trans_default_domain 'media' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-body uk-margin-top">
        <div class="uk-width-1-1">
            <div class="uk-form-row">     
                <div id="file_upload_drop_file" class="uk-file-upload">
                    <p class="uk-text mb10">{{ 'media.file.create.drag_and_drop'|trans|upper }}</p>
                    <p class="uk-text-muted uk-text-small uk-margin-small-bottom">{{ 'media.file.create.or'|trans|upper }}</p>
                    <a class="uk-form-file md-btn md-btn-flat md-btn-flat-primary" id="file_upload_label_file">
                        {{ 'media.file.create.choose'|trans|upper }}
                        <input id="file_upload_select_file" type="file" multiple>
                    </a>
                    <input type="hidden" id="file_filters_file" value="{{ filters }}">
                    <input type="hidden" id="file_upload_context_file" value="media">
                </div>
                <div id="file_upload_progressbar_file" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width:0" id="progress_bar_file">0%</div>
                </div>
                
                {% if folder is not empty %}
                    <input type="hidden" name="folder" value="{{ folder.id }}">
                {% endif %}
                <input type="hidden" id="refresh-auto" value="1">
                <input type="hidden" id="refresh-url" value="{{ refreshUrl|default(url('puzzle_admin_media_file_list')) }}">
            </div>
        </div>
    </div>
</div>

{% javascripts
    'bundles/admin/js/common.js'
    'bundles/admin/js/uikit_custom.js'
    'bundles/media/js/upload.js'
    'bundles/media/js/admin.js'
    output="compiled/js/puzzle_admin_media_file_add_multiple.min.js" 
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
