{% trans_default_domain 'media' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-body uk-margin-top">
        <div class="uk-width-1-1">
        	{{ form_start(form) }}
                <div class="uk-form-row">
                	{{ form_label(form.displayName, 'media.file.form.name'|trans, {'attr': {'class': 'uk-form-label'}}) }}
                	{{ form_widget(form.displayName, {'value': file.displayName|default(file.name), 'attr': {'class': 'md-input'}}) }}
                </div>
                <div class="uk-form-row">
                	{{ form_label(form.caption, 'media.file.form.caption'|trans, {'attr': {'class': 'uk-form-label'}}) }}
                	{{ form_widget(form.caption, {'attr': {'class': 'md-input'}}) }}
                </div>
                <input type="hidden" name="redirect_url" value="{{ redirectUrl }}">
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">{{ 'media.file.form.cancel'|trans }}</button>
                    <button type="submit" class="md-btn md-btn-success">{{ 'media.file.form.update'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% javascripts
    'bundles/admin/js/common.js'
    'bundles/admin/js/uikit_custom.js'
    'bundles/admin/libs/jquery-typeahead/dist/jquery.typeahead.min.js'
    'bundles/admin/libs/materialize-tags/dist/js/materialize-tags.min.js'
    'bundles/media/js/admin.js'
    output="compiled/js/puzzle_admin_media_file_update.min.js" 
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
